<!-- NAVBAR PROFESIONAL -->
<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo o título -->
    <img src="./img/utnloho.png" class="navbar-logo" alt="UTN Logo">

    <!-- Menú -->
    <ul class="navbar-menu">
      <li><a href="index.html">Agendar Cita</a></li>
      <li><a href="login.html">Agregar Calendario</a></li>
    </ul>


    <!-- Botón hamburguesa para móviles -->
    <div class="navbar-toggle" id="navbar-toggle">
      <span></span><span></span><span></span>
    </div>
  </div>
</nav>